<div class="col-md-3">

<a href="/parking"><button class="btn btn-success form-control mt-2">Parking Management</button></a>
<a href="/add"><button class="btn btn-success form-control mt-2">New Entry Management</button></a>
<a href="/out"><button class="btn btn-success form-control mt-2">Vechile Out Management</button></a>

    
</div>
